body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
}

header p {
    font-size: 35px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sites {
    flex-basis: 50%;
    display: flex;
    flex-flow: column;
    padding: 50px;
    box-sizing: border-box;
}

.sites a {
    width: 100%;
    height: 75%;
}

.info {
    height: 25%;
    background-color: rgb(216, 216, 216);
    color: black;
    text-align: center;
}

.info p {
    font-size: 18px;
}

.sites a img {
    width: 100%;
    height: 100%;
}